.adminMenu--container {
    /* border: 2px solid black; */
    color: white;
    width: 20%;
    height: 100%;
    background-color: #3A3B3C;
}

.adminMenu--heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    /* margin-top: 3vh; */
    margin-bottom: 5%;
    padding-top: 3vh;
    /* padding: 10% 0 10% 0; */

}

.adminMenu--heading--title {
    max-height: 3.2em;
    max-width: 3.2em;
}

.adminMenu--heading--title>img {
    max-height: 100%;
    max-width: 100%;
}

.adminMenu--items--box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminMenu--items {
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3% 5% 3% 5%;
    margin: 5% 0 5% 0;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.adminMenu--items:hover {
    background-color: #4a4b4b;
    border-radius: 50px;
}

.adminMenu--items--icons {
    margin-right: 0.4vw;
}

.adminMenu--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.adminMenu--bottom>img {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 20%;
    margin-right: 5%;
}

.adminMenu--detail--fullName {
    font-size: 1.3em;
}
.bgColor
{
    background-color: wheat;
    color:black;
}
.bgColor:hover {
    background-color: wheat;
    border-radius: 50px;
}