.card--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--status--title--box {
  /* border: 2px solid blue; */
  /* background-color: rgb(23, 188, 230);
    color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9%;
  width: 100%;
  padding: 1% 0 1% 0;
}

.card--title--items {
  /* border: 2px solid green; */
  /* margin: 0 4% 0 4%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.bgColor1 {
  background-color: rgba(187, 187, 187, 0.172);
}

.bullet0 {
  color: green;
  width: 20%;
}

.bullet1 {
  color: red;
  width: 20%;
}

.card--title--sn {
  width: 8%;
}

.card--title--room {
  width: 9%;
}

.card--title--hbuilding {
  width: 20%;
}

.card--title--subject {
  width: 20%;
}

.card--title--complaint {
  width: 30%;
}

.card--title--status {
  width: 13%;
  /* background-color: rgb(23, 188, 230); */
  display: flex;
  flex-direction: column;
}

.card--status--display
{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2.5% 0.1% 2.5% 0.1%;
}
.status--btn {
  /* background-color: rgba(0, 0, 0, 0.776); */
  cursor: pointer;
}

.status--btn0 {
  background-color: green;
  color: white;
}

.status--btn1 {
  background-color: red;
  color: white;
}
.status--btn2 {
  background-color: grey;
  color: white;
}

.no--btn0
{
  color: green;
}
.no--btn1
{
  color:red;
}
.n---btn2
{
  color: grey;
}

.dropDown--box
{
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dropDown--box--items
{
  /* border: 1px solid blue; */
  width: 100%;
  padding: 2.5% 0.1% 2.5% 0.1%;
  text-align: center;
  color:white;
}
.dropDown--box--items:hover
{
  background-color: rgb(23, 188, 230);
  
}
.color0
{
  background-color: green;
}
.color1
{
  background-color: red;
}
.color2
{
  background-color: grey;
}